<!doctype html>

{% extends "base.html" %}

{% block content %}
<body background = "../static/img/background.png">
    <br>
    <link rel="stylesheet" href="../static/css/style.css">
    <div class="heading_container">
        <img src="/static/img/title1.png" alt="title" style="width:100%; height:auto;">
        <br>
    </div>
    <div class = "form_container" >
        <br>
        <form method="POST">
            <label for="longtitude">Longitude: </label>
            <input name="longitude" input type="number" >
            <label for="latitude">Latitude: </label>
            <input name="latitude" input type="number" >
            <label for="date">Date: </label>
            <input name="date" input type = "date" >
            <label for="time">Time: </label>
            <input name="time" input type = "time" >
        <output>
        <br>
        <br>
            <input type="submit" id = "btn" >
        </form>
        
    </div>
</body>

    
{% endblock %}

